extends ../layouts/default

include ../mixins/sidebar.jade

block content

    .container

        .row

            .col-xs-12.col-sm-12(data-spy='scroll', data-target='#sidebar-nav')
                article

                    .content

                        h2= data.teacher.title
                        hr

                        ul.breadcrumb
                            li
                                a(href='/') Home
                            li
                                a(href='/staff') Staff
                            li.active 
                                != data.teacher.title

                        .col-md-8
                    
                            .post
                                if data.teacher.image.exists
                                    .image-wrap: img(src=data.teacher._.image.fit(750,450)).img-responsive
                                != data.teacher.content.english

                        .col-md-4